body{
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro',sans-serif;
}
section{
	background-color: #c8e8e0;
	text-align: center;
	padding: 50px 0;
}
h1, h2, h3{
	color: #2e937a;
}
h1{
	font-weight: 600;
    font-size: 3rem;
    margin: 27px auto 0;
}
h2{
	text-transform: uppercase;
    letter-spacing: 3px;
    font-style: normal;
}
img{
	max-width: 100%;
}
header{
	padding: 30px 50px;
	height: 40px;
}
header .logo{
	float: left;
}
header nav{
	float: right;
}
header nav ul
{
	position: fixed;
    left: 0;
    background-color: white;
    height: 100%;
    top: 0;
    padding: 20px;
    list-style: none;
    margin: 0;
    min-width: 20%;
	z-index: 1;
	border-right: 2px solid #2e937a;
	transform: translateX(-100%);
	transition: transform .5s;
}
header nav li{
	position: relative;
	font-size: 20px;
    margin-bottom: 15px;
	width: fit-content;
    cursor: pointer;
}
@keyframes grow {
	from {width: 0;}
	to {width: 100%;}
}
header nav li::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: black;
	display: none;
	animation: grow .2s;
}
header nav li:hover::after{
	display: block;
}
.expanded{
	transform: translateX(0);
}
#menu {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
  transform: rotate(-45deg) translate(-8px, 7px);
}
.open .bar2 {opacity: 0;}
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
#serveis{
	display: grid;
	grid-template-columns: repeat(3, calc(33.3333% - 18px));
	grid-gap: 27px;
	max-width: 1200px;
	padding: 50px;
	margin: auto;
}

#serveis .box{
	padding: 20px 20px 40px;
	border-radius: 20px;
	background-color:  white;
	color: #376358;
	font-size: 20px;
}
#serveis p{
	padding-bottom: 20px;
}
#serveis a{
	color:white;
	border-width: 2px;
	border-radius: 50px;
	text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-style: solid;
    padding: 10px 30px;
	background-color: #2e937a;
}
#serveis a:hover{
	background-color: #22705d;
}
footer{
	background-color: #333333;
	text-align: center;
	color: white;
	margin: 0;
	padding: 30px;
	font-size: 16px;
}

@media (max-width: 850px){
	header nav ul{
		position: absolute;
		height: fit-content;
		width: calc(100% - 40px);
		border-bottom: 2px solid #2e937a;
		top: 100px;
	}

	#serveis{
		display: block;
		text-align: left;
	}
	#serveis .box{
		display: flex;
		margin-bottom: 27px;
	}
	#serveis img{
		max-width: 200px;
		margin-right: 5%;
	}
}

@media (max-width: 580px){
	#serveis{
		text-align: center;
		padding: 8%;
	}
	#serveis .box{
		display: block;
	}
	#serveis img{
		width: 100%;
		max-width: 300px;
		margin: 0;
	}
}