*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

img{
    width: 16%;
    height: auto;
    margin-bottom: 10px;
    position: relative;
    -webkit-user-drag: none;
}
.cross{
    opacity: 0;
}

.board{
    padding-top: 20px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.card{
    position: absolute;
    width: 80%;
    max-width: 250px;
    padding: 60px 40px 40px 40px;
    border-radius: 20px;
    background: rgb(248, 205, 11);
    left: 5%;
    bottom: -240px;
    transition: bottom .5s;
}
.card:hover{
    bottom: -20px;
}
#card-image{
    width: 100%;
    height: auto;
}