#menu-wrapper{
    display: grid;
    grid-template-columns: 16.66%;
    border: 2px black solid;
}
#body-wrapper{
    display: grid;
    grid-template-columns: 20% 80%;
    border: 2px black solid;
}
#news-wrapper{
    display: grid;
    grid-template-columns: 50%;
}
#footer-wrapper{
    display: grid;
    grid-template-columns: 50%;
    border: 2px black solid;
}

.menu-item{
    text-align: center;
}

#m1{
    grid-column: 1;
}
#m2{
    grid-column: 2;
}
#m3{
    grid-column: 3;
}
#m4{
    grid-column: 4;
}
#m5{
    grid-column: 5;
}
#m6{
    grid-column: 6;
}

#nav-menu{
    grid-column: 1;
}
#news-block{
    grid-column: 2;
}

#news-video{
    grid-column: 1;
}
#news-body{
    grid-column: 2;
}

#footer-form{
    grid-column: 1;
    text-align: center;
}
#footer-contact{
    grid-column: 2;
    text-align: center;
}

#video{
    height: auto;
    width: 100%;
}