body {
    margin: 0;
    background: linear-gradient(white, rgb(100, 100, 100));
    font-family: 'Prompt', 'Helvetica', 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.count-container{
    display: flex;
    justify-content: center;
    position:absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(50%)
}

.gran-numero{
    font-size: 100px;
    font-weight: 800;
    color: black;
    margin: 0px 30px;
}

.sub-tag {
    font-size: 20px;
    font-weight: 100;
}

button {
    font-family: 'Prompt', 'Helvetica', 'Arial', sans-serif;
    width: fit-content;
    padding: 10px 20px;
    color: rgb(180, 180,180);
    background: black;
    border: 0;
    border-radius: 10px;
    transition: all .5s;
}

#restart-btn{
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
}

button:hover{
    box-shadow: 0 0 20px black;
}

button:active {
    transform: scale(0.90);
}
#restart-btn:active{
    transform: translateX(-50%) scale(0.90);
}

#date, #time{
    font-size: 60px;
    font-weight: 800;
    font-family: 'Prompt', 'Helvetica', 'Arial', sans-serif;
    color: black;
    background: transparent;
    border: 0;
    width: 600px;
}
#time{
    margin-bottom: 50px;
    font-size: 60px;
}

.capçalera {
    font-size: 16px;
    position: absolute;
    top: 30px;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
}

#verb {
    position:absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
}

@media (max-width: 650px) {
    #date, #time{
        font-size: 30px;
        width: 90%;
    }
    .capçalera{
        font-size: 14px;
    }
    .count-container {
        flex-direction: column;
    }
    .gran-numero {
        font-size: 50px;
    }
    .sub-tag {
        font-size: 10px;
    }
    #verb {
        top: 40px;
    }
    #restart-btn {
        bottom: 40px;
    }
}