*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MISC */

body{
    color: white;
    font-family: 'Kanit', sans-serif;
    height: fit-content;
}

button{
    width: 70%;
    max-width: 250px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    border-radius: 30px;
    border: 2px solid transparent;
    color: white;
    transition: all .2s;
    cursor: pointer;
}
button{
    background: #207a20;
}
button[onclick="answer(true)"]{
    background: rgba(15, 163, 15, 0.6);
    margin: 5px 0 10px 0;
}
button[onclick="answer(false)"]{
    background: rgba(182, 14, 14, 0.6);
    margin-bottom: 5px;
}
button[onclick="window.location.reload()"]{
    background: transparent;
    border: 2px solid white;
    font-weight: 100;
    margin-top: 10px;
}
button:disabled{
    background: gray;
    color: darkgrey;
    cursor: unset;
}
button:enabled:hover{
    border: 2px solid gold;
    color: gold;
    background: transparent;
}
i{
    padding-right: 10px;
}
button span{
    font-weight: normal;
    font-size: 0.8em;
}

.loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 47vh;
    font-size: 20px;
    background: #181536;
    z-index: 8;
}

/* GAME */

.game-wrapper{
    display: flex;
    height: 100vh;
    background: linear-gradient(90deg, #000033 50%, #251700 50%);
}
.exit-btn{
    position: absolute;
    z-index: 5;
    font-size: 20px;
    top: 20px;
    left: 20px;
    transition: color .2s;
}
.exit-btn:hover{
    color: gold;
    cursor: pointer;
}
.score,.hs-container{
    position: absolute;
    right: 50%;
    transform: translate(50%,0);
    z-index: 5;
}
.score{
    top: 2%;
    font-size: 30px;
    font-weight: bold;
    transition: opacity 1s;
}
.hs-container{
    bottom: 2%;
    font-size: 20px;
    transition: opacity 1s;
}

.mun-box{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.mun-box *:not(.background){
    z-index: 1;
}
h2{
    font-weight: normal;
    font-size: 35px;
    margin: 0 10px -5px 10px;
}
.com-title{
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 10px;
}
.mun-count{
    font-size: 40px;
    font-weight: bold;
    color: gold;
}
.mun-count-desc{
    color: gold;
    margin-top: -10px;
}
.bottom-date{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 100;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}
.bottom-date a{
    color: inherit;
}
.input-area{
    color: gold;
}
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-position: center;
    opacity: 0;
    transition: all 1s;
}
.background.enabled{
    opacity: 0.3;
}

/* MODALS */

.modal{
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    background: #181536;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: top 1s;
    box-shadow: 5px 5px 15px black;
}
.modal-backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
    z-index: 10;
}
.visible{
    pointer-events: all;
    opacity: 1;
}
.visible.modal{
    opacity: 1;
    top: 50%;
}

/* RESULTS MODAL */

.results-score{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 20px;
}
.r-score-text{
    font-size: 70px;
    font-weight: bold;
}
.results-hs{
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 20px;
}
.r-hs-text{
    font-weight: bold;
    padding-left: 10px;
}

/* START MODAL */

.start-wrapper{
    overflow: auto;
}
.start-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.start-section{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 47%;
}
.start-btns button{
    width: 100%;
    line-height: 1.1;
    font-size: 1.4em;
    height: 80px;
}
.start-btns form select{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    padding: 0 15px 0 15px;
    font-family: inherit;
    font-size: 20px;
    background: #207a20;
    border: 2px solid transparent;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all .2s;
    text-align: center;
}
.start-btns form select:disabled{
    background: gray;
    color: darkgrey;
    cursor: unset;
}
.start-btns form select:enabled:hover{
    background: transparent;
    color: gold;
    border: 2px solid gold;
}
.start-btns form select.chosen{
    background: transparent;
    color: white;
    border: 2px solid white;
    height: 50px;
    font-size: unset;
}
select option{
    color: black;
    background: white;
}
.separator{
    position: relative;
    width: 1px;
    height: inherit;
    background: rgba(255,255,255,0.5);
    margin: 0 10px 0 10px;
}
.separator::after{
    content: 'o';
    position: absolute;
    width: 10px;
    height: 30px;
    background: #181536;
    top: 50%;
    transform: translate(-50%,-50%)
}
.sample-mun{
    color: gold;
}
#logo{
    width: 85%;
}

.hs-list-btn{
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
    width: fit-content;
}
.hs-list-btn span{
    text-decoration: underline;
}
.hs-list{
    max-height: 1000px;
    padding-top: 15px;
    overflow: hidden;
    transition: all .5s;
}
.hs-list span{
    color: gold;
    font-weight: bold;
}
.hs-list p{
    font-size: 1.1em;
    margin-bottom: 15px;
}
.collapsed{
    max-height: 0px;
    opacity: 0;
}
@keyframes rotate-icon {
    from { transform: rotate(180deg) }
    to { transform: rotate(0deg) }
}
.rotate-icon{
    animation: rotate-icon .2s;
}

@keyframes pound {
    0% { transform: scale(1) }
    50% { transform: scale(1.3) }
    100% { transform: scale(1) }
}
.new-record{
    color: gold;
    animation: pound 2s infinite;
    display: none;
}

/* RESPONSIVE */

@media (max-width: 600px){

    .game-wrapper{
        display: block;
        height: auto;
        background: linear-gradient(180deg, #000033 max(45%,350px), #251700 max(45%,350px), #251700 max(100%,700px));
    }

    .mun-box.ref{
        width: 100%;
        height: 45vh;
        min-height: 350px;
    }
    .mun-box.next{
        width: 100%;
        height: 55vh;
        min-height: 400px;
    }

    .score{
        right: 5%;
        top: max(45%,350px);
        transform: translate(0,-50%);
    }
    .hs-container{
        left: 5%;
        right: unset;
        bottom: unset;
        top: max(45%,350px);
        transform: translate(0,-50%);
    }
    .results-backdrop{
        height: 100%
    }

    .start-btns{
        display: block;
    }
    .start-section{
        width: 100%;
        max-width: unset;
        margin: 0;
    }
    .start-btns button{
        width: 100%;
        max-width: unset;
        margin: 0;
    }
    .separator{
        width: 100%;
        height: 1px;
        margin: 20px 0 20px 0;
    }
    .separator::after{
        width: 30px;
    }
}